# Default ignored files
/../../BuenosTur./.idea/shelf/
/../../BuenosTur./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../BuenosTur./.idea/httpRequests/
# Datasource local storage ignored files
/../../BuenosTur./.idea/dataSources/
/../../BuenosTur./.idea/dataSources.local.xml
